.slideMount {
  animation: 0.6s ease-in-out slideEffect;
}

@keyframes slideEffect {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
